---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Form from "../components/Form.astro"
import '../styles/global.css'
---


<Header />

<main>
    <h1>Contact Us</h1>
    <Form />
</main>

<Footer />
